.popup{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: rgba(103, 103, 103, 0.214);

    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-inner{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: #5860e9;

}
.popup-inner .close-btn{
    position: absolute;
    font-size: 10px;
    top: 16px;
    right: 16px;

    background-color: #7f9df0;
    
}
